@import './variables.scss'; ;

body{
    direction: rtl;
}
bodyar-IL,
body.he-IL {
    direction: rt;
}

body.en-US {
    direction: ltr;
}
.rtl p, .rtl ul, .rtl .flex {direction: rtl;}
.ltr p, .ltr ul, .ltr .flex {direction: ltr;}

.mode-dark{    
    background-color: $primary;
    color: $accent;
}
.mode-light {
    background-color: $primary;
    color: $secondary;
}


body.body--light {
    background-color: $secondary;
    color: $primary;
}

body.body--dark{
    background-color: $dark;
    color: $accent;
}

.text-dark  {
    color:$dark;    
}


.light {color: $secondary;}
.dark {color: $primary;}