@import './variables.scss'; ;

body{
    direction: rtl;
}
bodyar-IL,
body.he-IL {
    direction: rtl!important;
}

body.en-US {
    direction: ltr !important;
}
.rtl p, .rtl ul, .rtl .flex {direction: rtl;}
.ltr p, .ltr ul, .ltr .flex {direction: ltr;}

body.body--dark,
.dark,
.bg-dark,
.bg-dark div,
.bg-dark *{
    background-color: var(--$primary);    
    color: var(--$secondary);
}
body.body--light,
.light,
.bg-light,
.bg-light div *,
.bg-light *{
    background-color: $secondary !important;
    color: $primary !important;
}

body.body--dark,
.dark,
body.body--light{
    background-color: $dark !important;
    color: $accent !important;
}

.text-dark  {
    color:$dark !important;    
}

.light,
.text-light,
.text-light div *,
.text-light * {
    color: $secondary !important;
}
.light * {color: $secondary !important;}
.dark  * {color: $primary !important;}