@forward './variables.scss';

body{
    direction: rtl;
}
bodyar-IL,
body.he-IL {
    direction: rtl!important;
}

body.en-US {
    direction: ltr !important;
}
.rtl p, .rtl ul, .rtl .flex {direction: rtl;}
.ltr p, .ltr ul, .ltr .flex {direction: ltr;}
.bg-dark,
.bg-dark *{
    background-color: var(--$primary);    
    color: var(--$secondary);
}

.bg-light,
.bg-light *{
    background-color: var(--$secondary) !important;
    color: var(--$primary) !important;
}

.text-dark {
    color:var(--$primary) !important;    
}